.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.thread-card{
  vertical-align: text-bottom !important;
  background-color: #FFCAA4 !important;
}
.event-icon{
  width: 10%;
}

/* .thread-card-title{
  overflow: hidden;
} */
.bg-main{
  background-color: cream;
}